@import "../fonts/font.css";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

body {
  background-color: dodgerblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign__up {
  background-color: white;
  width: 500px;
  height: 450px;
  padding: 40px;
}
.sign__up h2 {
  width: 100%;
  text-align: center;
  font-size: 26px;
  margin-bottom: 40px;
  color: dodgerblue;
  font-weight: 900;
}
.sign__up form {
  position: relative;
}
.sign__up form input {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: 1px solid grey;
  text-indent: 20px;
  outline: none;
  font-size: 21px;
  margin-bottom: 30px;
}
.sign__up form input::-webkit-input-placeholder {
  font-size: 19px;
}
.sign__up form input::-moz-placeholder {
  font-size: 19px;
}
.sign__up form input:-ms-input-placeholder {
  font-size: 19px;
}
.sign__up form input::-ms-input-placeholder {
  font-size: 19px;
}
.sign__up form input::placeholder {
  font-size: 19px;
}
.sign__up form input:nth-child(2) {
  padding-right: 60px;
}
.sign__up form .eye {
  position: absolute;
  right: 20px;
  top: 110px;
  cursor: pointer;
}
.sign__up form .hidden {
  display: none;
}
.sign__up form button {
  width: 100%;
  height: 50px;
  background-color: dodgerblue;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 0 black;
          box-shadow: 10px 10px 0 black;
}
.sign__up form button:active {
  -webkit-box-shadow: inset 10px 10px 0 black;
          box-shadow: inset 10px 10px 0 black;
}

.card {
  background-color: white;
  width: 500px;
  height: 450px;
  padding: 40px;
  display: none;
}
.card h2 {
  font-size: 26px;
  margin-bottom: 40px;
  color: dodgerblue;
  font-weight: 900;
}
.card form {
  position: relative;
}
.card form input {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: 1px solid grey;
  text-indent: 20px;
  outline: none;
  font-size: 21px;
  margin-bottom: 30px;
}
.card form input::-webkit-input-placeholder {
  font-size: 19px;
}
.card form input::-moz-placeholder {
  font-size: 19px;
}
.card form input:-ms-input-placeholder {
  font-size: 19px;
}
.card form input::-ms-input-placeholder {
  font-size: 19px;
}
.card form input::placeholder {
  font-size: 19px;
}
.card form input:nth-child(2) {
  padding-right: 60px;
}
.card form .eye {
  position: absolute;
  right: 20px;
  top: 110px;
  cursor: pointer;
}
.card form .hidden {
  display: none;
}
.card form button {
  width: 100%;
  height: 50px;
  background-color: dodgerblue;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 0 black;
          box-shadow: 10px 10px 0 black;
}
.card form button:active {
  -webkit-box-shadow: inset 10px 10px 0 black;
          box-shadow: inset 10px 10px 0 black;
}

.complate {
  width: 400px;
  height: 200px;
  background-color: #fff;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px rgb(50, 91, 204);
          box-shadow: 10px 10px rgb(50, 91, 204);
}
.complate h2 {
  width: 100%;
  text-align: center;
  color: dodgerblue;
  font-size: 40px;
  font-weight: 500;
  text-shadow: 1px 2px grey;
  -webkit-animation-name: effect3d;
          animation-name: effect3d;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes effect3d {
  to {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  }
}

@keyframes effect3d {
  to {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  }
}